body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana;
    background-color: lightgray;
}

canvas {
    box-shadow: gray 10px 10px 10px;
    border: 2px solid greenyellow;
}

button {
    background-color: green;
    color: white;
    border: none;
    font-size: 16px;
    margin-bottom: 1em;
    padding: 0.25em 1em;
}
